.jumbotron{
    text-align:center!important;
    background:url("../images/mountain-3590181__340\ \(1\)jumbo.jpg");
    margin-left: 70px; 
    margin-right: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: fantasy;
    color:white;
    text-shadow:
    -1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #555,
    1px 1px 0 #555;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

button {
    margin: 5px;
}

.card{
    margin-left:70px;
    float:left;
}

.card-body{
    margin-left:100px;
}

.card-header{
    margin-left:70px;
}

#search-box{
    text-align:center;
}

.btn-floating.btn-large  {
    width: 100px;
    height: 100px;
    padding: 0;
    background-color:navy;
}
