/* makes div's center */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h5, p {
  color: #000;
};

/* button styles */
button {
    margin: 5px;
}

.btn-floating.btn-large  {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 5px;
    background: #4caf50;
}

/* search box */
#search-box{
    text-align:center;
}

#add-city{
    background: #4caf50;
}

/* card styles */
.card{
    margin-left:70px;
    float:left;
}

.card-body{
    text-align: center;
}


/* EVENT SECTION */

.events {
    float: left;
    border: 1px solid #000;
    height: auto;
    width: 500px;
    margin: 5px;
    padding: 3px;
}

/* MAP SECTION */
#map {
    height: 500px;  
    width: 100%;  
} 




/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 