.jumbotron{
    text-align:center!important;
    background:url("images/mountain-3590181_960_720.jpg");
    margin-left: 70px; 
    margin-right: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: fantasy;
    
    
}
.card{
    margin-left:70px;
    float:left;
}

.card-header{

    margin-left:70px;
}
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:50%;
    
     }
#search-box{
    text-align:center;
}

.card-body{
    margin-left:100px;
}

